In [1]:
import pandas as pd
import googlemaps
d=pd.read_csv('london_d0.csv',sep='\t')

In [24]:
import logging
def latlng(x):
    geocode_result=gmaps.geocode(x)
    lat = geocode_result[0]['geometry']['location']['lat']
    lng = geocode_result[0]['geometry']['location']['lng']
    return [lat,lng]

logging.basicConfig(level=logging.INFO,
                    format='%(asctime)s %(name)-12s %(levelname)-8s %(message)s',
                    datefmt='%a, %d %b %Y %H:%M:%S',
                    filename='log1gm.log',
                    filemode='w')

In [26]:
import psycopg2 as pg2

In [27]:
page = 0
for i in range(2):
    try:
        attraction = d.iloc[i].attraction
        logging.info('%s', attraction)
        ll = latlng(d.iloc[i].address)
        page = page + 1
        print page
    except:
        logging.exception("Fail to requestion: %, page: %d", a, page)
    
    try:
        conn = pg2.connect(host="tourlondon.cd6otpnh2nbb.us-east-2.rds.amazonaws.com",database="london", user="zty", password="54321zty",connect_timeout=10)
        cur = conn.cursor()
        sql = """INSERT INTO address0(attraction, latitude, longitude) VALUES(%s, %s, %s);"""
        cur.execute(sql, (attraction, ll[0], ll[1]))
        conn.commit()
    except:
        logging.exception('Data base (dest) error on page %d: %s', page, a)

1
2

In [29]:
d.shape[0]

1718

In [20]:
d.iloc[1]

num                                                             2
attraction                                         British Museum
ranking                                                        #2
rating                                                       4.5
review_num                                                 60,798
address            Great Russell Street, London WC1B 3DG, England
street                                       Great Russell Street
locality                                        London WC1B 3DG,
category                    Art Museums, History Museums, Museums
phone                                            +44 20 7323 8299
duration                            Suggested Duration: 2-3 hours
hours           Closed Now Fri10:00 AM - 8:30 PMSat - Thu10:00...
neighborhood                                           Bloomsbury
description     A museum of the world, for the world. Discover...
tags            rosetta stone; elgin marbles; egyptian mummies...
languages       English (35,510); Spanish (7,374); Italian (6,...
sitelink        /Attraction_Review-g186338-d187555-Reviews-Bri...
Name: 1, dtype: object

In [7]:
d.address[4].apply(lat)

AttributeError: 'str' object has no attribute 'apply'

In [ ]:
d['longitude']=d.address.apply(lng)

In [2]:
gmaps = googlemaps.Client(key='AIzaSyCeWemE0s3KVIITCX-XmJinQA3Nt9rQOTI')

In [3]:
gmaps.geocode(d.address[6])

[{u'address_components': [{u'long_name': u'W2 2UH',
    u'short_name': u'W2 2UH',
    u'types': [u'postal_code']},
   {u'long_name': u'London',
    u'short_name': u'London',
    u'types': [u'postal_town']},
   {u'long_name': u'Greater London',
    u'short_name': u'Greater London',
    u'types': [u'administrative_area_level_2', u'political']},
   {u'long_name': u'England',
    u'short_name': u'England',
    u'types': [u'administrative_area_level_1', u'political']},
   {u'long_name': u'United Kingdom',
    u'short_name': u'GB',
    u'types': [u'country', u'political']}],
  u'formatted_address': u'London W2 2UH, UK',
  u'geometry': {u'bounds': {u'northeast': {u'lat': 51.5101714,
     u'lng': -0.1591574},
    u'southwest': {u'lat': 51.50280859999999, u'lng': -0.1747704}},
   u'location': {u'lat': 51.5074317, u'lng': -0.1657083},
   u'location_type': u'APPROXIMATE',
   u'viewport': {u'northeast': {u'lat': 51.5101714, u'lng': -0.1591574},
    u'southwest': {u'lat': 51.50280859999999, u'lng': -0.1747704}}},
  u'place_id': u'ChIJD7QNyUkFdkgRKTt69Uatmds',
  u'types': [u'postal_code']}]

In [41]:
d.address[6]

'London W2 2UH, England'

In [34]:
missd = d.loc[d.description == 'missing', 'attraction', ]

In [38]:
missd[37:38]

,num,attraction,ranking,rating,review_num,address,street,locality,category,phone,duration,hours,neighborhood,description,tags,languages,sitelink
79,76,Noel Coward Theatre,#99,4.5,692,"85-88 St. Martin's Lane, London WC2N 4AU, England",85-88 St. Martin's Lane,"London WC2N 4AU,","Theaters, Concerts & Shows",+44 20 7759 8010,missing,Closed Now Mon - Sat10:00 AM - 8:00 PMHours Ho...,Covent Garden,missing,royal circle; magic show; north country; six p...,English (664); French (6); Italian (5); Japane...,/Attraction_Review-g186338-d3836912-Reviews-No...

In [50]:
d.loc[d.category == 'missing']

,num,attraction,ranking,rating,review_num,address,street,locality,category,phone,duration,hours,neighborhood,description,tags,languages,sitelink
712,692,Rolle Therapy,#754,5.0,10,"160 Queensway | Michael Jane, London W2 6LY, E...",160 Queensway,"London W2 6LY,",missing,+44 20 3612 5044,missing,Closed Now Sun11:00 AM - 6:00 PMMon11:00 AM - ...,Notting Hill,Massage Therapy in Bayswater & W2 At Rolle the...,missing,English (10),/Attraction_Review-g186338-d7715237-Reviews-Ro...
1113,1110,Smollensky’s Bar,"#1,187",3.5,11,"1 Reuters Plaza | Canary Wharf, London E14 5AJ...",1 Reuters Plaza,"London E14 5AJ,",missing,+44 20 3873 2880,missing,missing,missing,missing,missing,English (11),/Attraction_Review-g186338-d10689312-Reviews-S...

In [57]:
a= d.rating[0:100]

In [58]:
pd.get_dummies(a)

    3.0   4.0  4.5  4.5   5.0  5.0
0      0    0    1     0    0     0
1      0    0    0     1    0     0
2      0    0    0     1    0     0
3      0    0    1     0    0     0
4      0    0    0     1    0     0
5      0    0    1     0    0     0
6      0    0    0     1    0     0
7      0    0    0     1    0     0
8      0    0    1     0    0     0
9      0    0    0     1    0     0
10     0    0    1     0    0     0
11     0    0    1     0    0     0
12     0    0    0     1    0     0
13     0    0    1     0    0     0
14     0    0    0     1    0     0
15     0    0    1     0    0     0
16     0    0    1     0    0     0
17     0    0    1     0    0     0
18     0    0    1     0    0     0
19     0    0    0     1    0     0
20     0    0    1     0    0     0
21     0    0    0     1    0     0
22     0    0    0     0    1     0
23     0    1    0     0    0     0
24     0    0    0     0    0     1
25     0    0    1     0    0     0
26     0    0    1     0    0     0
27     0    0    0     1    0     0
28     0    0    0     1    0     0
29     0    0    0     1    0     0
..   ...  ...  ...   ...  ...   ...
70     0    0    0     1    0     0
71     0    0    0     1    0     0
72     0    0    0     1    0     0
73     1    0    0     0    0     0
74     0    0    0     1    0     0
75     0    0    0     1    0     0
76     0    0    0     1    0     0
77     0    0    0     0    0     1
78     0    0    1     0    0     0
79     0    0    0     1    0     0
80     0    0    1     0    0     0
81     0    0    0     1    0     0
82     0    0    0     1    0     0
83     0    0    0     1    0     0
84     0    0    0     1    0     0
85     0    0    0     1    0     0
86     0    0    0     1    0     0
87     0    0    0     1    0     0
88     0    0    0     1    0     0
89     0    0    0     1    0     0
90     0    0    0     1    0     0
91     0    0    1     0    0     0
92     0    0    0     1    0     0
93     0    0    0     1    0     0
94     0    0    0     1    0     0
95     0    0    0     1    0     0
96     0    0    0     1    0     0
97     0    0    0     1    0     0
98     0    0    0     1    0     0
99     0    0    0     1    0     0

[100 rows x 6 columns]

In [59]:
cate=d.category.apply(lambda x: x.split(','))

In [81]:
a=[]
for i in range(cate.shape[0]):
    a=a+cate[i]

In [90]:
pd.value_counts(a)

 Sights & Landmarks                769
 Museums                           341
 Points of Interest & Landmarks    298
 Shopping                          281
 Nature & Parks                    207
 Concerts & Shows                  171
 Theaters                          165
 Art Galleries                     157
 Monuments & Statues               137
 Churches & Cathedrals             122
 Specialty Museums                 119
 Historic Sites                    114
 More                               90
 Fun & Games                        81
 Architectural Buildings            79
 Food & Drink                       75
 Other                              66
 Neighborhoods                      64
 Gardens                            62
 Flea & Street Markets              59
 History Museums                    47
 Art Museums                        44
 Sacred & Religious Sites           43
 Traveler Resources                 42
 Sports Complexes                   42
 Outdoor Activities                 27
 Farmers Markets                    26
 Nature & Wildlife Areas            25
 Breweries                          23
 Playgrounds                        22
                                  ...
 Operas                              4
 Sporting Events                     4
 Cabarets                            3
 Factory Outlets                     3
 Tramways                            3
 Biking Trails                       3
 Observatories & Planetariums        2
 Theme Parks                         2
 Wineries & Vineyards                2
 Military Bases & Facilities         2
 Ballets                             2
 Natural History Museums             2
 Ferries                             2
 Department Stores                   2
missing                              2
 Water & Amusement Parks             2
 Airport Lounges                     1
 Mysterious Sites                    1
 Exhibitions                         1
 Jogging Paths & Tracks              1
 Scenic Drives                       1
 Food & Drink Festivals              1
 State Parks                         1
 Dams                                1
 Marinas                             1
 Horse Tracks                        1
 Forests                             1
 Universities & Schools              1
 Music Festivals                     1
 Missions                            1
Length: 95, dtype: int64